<div class="form-container">
  <h2>Simple Form</h2>
  <!-- (ngSubmit)="onSubmit()" - ngSubmit is angular event whose behaviour is defined in .ts model. See onSubmit() -->
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <!-- [(ngModel)]="name" - pass the value to .ts model variable name -->
      <input type="text" id="name" [(ngModel)]="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <!-- [(ngModel)]="email" - pass the value to .ts model variable email -->
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <!-- [(ngModel)]="message" - pass the value to .ts model variable message -->
      <textarea id="message" rows="4" [(ngModel)]="message" name="message" required></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>

<!--  <div *ngIf="isSubmitted">-->
<!--    <h3>Form data:</h3>-->
<!--    <p><strong>Name:</strong> {{ name }} </p>-->
<!--    <p><strong>Email:</strong> {{ email }} </p>-->
<!--    <p><strong>Message:</strong> {{ message }} </p>-->
<!--  </div>-->

  <!-- *ngIf="isSubmitted" - show the table only if isSubmitted==true -->
<!--  <table *ngIf="isSubmitted">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>#</th>-->
<!--      <th>Name</th>-->
<!--      <th>Email</th>-->
<!--      <th>Message</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
    <!-- Loop implementation for table rows -->
<!--    <tr *ngFor="let msg of messages;let i = index">-->
<!--      <td>{{ i + 1 }}</td>-->
<!--      <td>{{ msg.name }}</td>-->
<!--      <td>{{ msg.email }}</td>-->
<!--      <td>{{ msg.message }}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

  <div class="flex-container" *ngIf="isSubmitted">
    <!-- We are using one component (MessageDetailsComponent) inside the another one (MyFirstCompComponent) as a table row -->
    <app-message-details
      *ngFor="let msg of messages;let i = index"
      [message]="msg"
      [index]="i"
      (delete)="deleteMessage($event)"
    ></app-message-details>
  </div>
</div>
